@import url("https://fonts.googleapis.com/css2?family=Paytone+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
/*   --font-size-5xs: 8px;
  --font-size-smi: 13px; */

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-mediumslateblue: #5662f6;
  --color-whitesmoke: #ececec;
  --color-dimgray: #686868;
  --color-cornflowerblue: #8b90d3;

  /* Paddings */
  --padding-mid: 17px;
}
